<!DOCTYPE html>
<html lang='en'>
<head>
    <meta name='description' content='Search engine'>
	<meta name='author' content='Asia P'>
	<meta name='viewport' content='width=device-width, initial-scale=1.0'>
	<meta charset='UTF-8'>
    <title> {% block title %}{% endblock %} | Search engine </title>
	<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    {% block head %}{% endblock %}
    <link rel="stylesheet" type="text/css"href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

    <section class="container">
        <form action="/search" method="post">
         <div class="searchinput">
             <label for="query">Type query:</label>
             <input type="text" name="query" id="query">
             <button type="submit">Search!</button>
             <p>{{ text }}</p>
            </div>
    </form>

    </section>

	<footer id="footer">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12 col-m-12 col-s-12 footer">
					<div class="col-12 social">
                        <a href="https://github.com/asia111307/search_engine" target="_blank" title="GitHub"><button class="icon-btn github-btn"><i class="fa fa-github"></i></button></a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-12 copyright">
            <div class="row">
			    <p> Copyrights 2019, Joanna Paliwoda </p>
            </div>
		</div>
	</footer>
    {% block scripts %} {% endblock %}
<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>